<!DOCTYPE html>
<html>
<head>
<style>
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
  }

  .text-box-half-width {
    width: 50%;
  }
</style>
</head>
<body>

<div class="box-container">
  <div class="text-box text-box-half-width">
    <p id="displayText">Text 1</p>
  </div>
  <div class="text-box">
    <button id="startButton" onclick="changeText()">Start</button>
  </div>
</div>

<script>
function changeText() {
  var displayText = document.getElementById("displayText");
  displayText.innerHTML = "Text 2";
}
</script>

</body>
</html>